/* Add this to your CSS file */
.appointment-page {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7; /* Light gray background */
  }
  
  .appointment-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .appointment-container h1 {
    margin-top: 0;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px; /* Add some space between the header and the list */
  }
  
  .appointment-list-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .appointment-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .appointment-list li {
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }
  
  .appointment-list li:last-child {
    border-bottom: none;
  }
  
  .appointment-list li:hover {
    background-color: #f7f7f7;
  }
  
  .appointment-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .appointment-info.patient-name {
    font-weight: bold;
    color: #333;
    font-size: 18px;
  }
  
  .appointment-info.appointment-details {
    font-size: 14px;
    color: #666;
  }
  
  .appointment-info.delete-button {
    cursor: pointer;
    transition: color 0.2s ease;
  }
  
  .appointment-info.delete-button:hover {
    color: red;
  }
  
  /* Add some extra space between list items */
  .appointment-list li + li {
    margin-top: 10px;
  }