/* Register.css */
.register-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
  }
  
  .register-container {
    width: 100%;
    max-width: 400px;
  }
  
  .register-form {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    color: #fff;
  }
  
  .card-header h3 {
    color: #fff;
  }
  
  .form-group {
    margin-bottom: 15px;
    /* Adjust spacing */
  }
  
  .input-group {
    border-radius: 10px 0 0 10px;
    padding: 10px;
    width: 90%;
  }
  
  .input-group-text {
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
  }
  
  .form-control {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px 10px;
    border: none;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    width: 100%; /* Make the input field full width */
  }
  
  .form-control::placeholder {
    color: #fff;
  }
  
  .btn-primary {
    background: #007bff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    width: 100%; /* Make the button full width */
    display: block; /* Ensure the button is a block element */
    margin: 0 auto; /* Center the button */
  }
  
  .btn-primary:hover {
    background: #0056b3;
  }
  
  .text-center a {
    color: #fff;
    text-decoration: none;
  }
  
  .text-center a:hover {
    text-decoration: underline;
  }