/* styles.css */
.admin-dashboard {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 3px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .logo h2 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    padding: 10px;
    border-bottom: 1px solid #444;
  }
  
  .sidebar a {
    color: #fff;
    text-decoration: none;
  }
  
  .main-content {
    flex: 1;
    padding: 0px;
    margin-left: 250px;
    overflow-y: auto;
  }
  
  .header {
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .content {
    padding: 20px;
    height: calc(100vh - 40px);
    overflow-y: auto;
  }
  
  .searchArea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .userListSearch {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
  }
  
  .userList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .user-card {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    display: flex;
    flex-direction: column;
  }
  
  .username {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .fullname {
    margin-bottom: 10px;
  }
  
  .email {
    text-decoration: none;
    color: #337ab7;
  }
  
  .email:hover {
    text-decoration: underline;
  }
  
  .location {
    margin-bottom: 10px;
  }